page-profile {}

.image {
    width: 200px;
    height: auto;
    size: 100px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(black, white);
}

.profile {
    background-image: url('../../assets/imgs/images6.jpg')
}

.profile {}